name: Build Nix Flake

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-macos:
    timeout-minutes: 30
    runs-on: macos-latest
    permissions:
      contents: write
      actions: write
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: build-${{ runner.os }}-${{ github.base_ref || github.ref_name }}-${{ hashFiles('**/flake.nix', '**/flake.lock') }}
          restore-prefixes-first-match: build-${{ runner.os }}-${{ github.base_ref || github.ref_name }}-
          purge: true
          purge-prefixes: build-${{ runner.os }}-${{ github.base_ref || github.ref_name }}-
          purge-created: 0
          purge-primary-key: never

      - name: Build macOS Configuration
        run: nix build ./macos#darwinConfigurations.default.system

  build-linux:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: build-${{ runner.os }}-${{ github.base_ref || github.ref_name }}-${{ hashFiles('**/flake.nix', '**/flake.lock') }}
          restore-prefixes-first-match: build-${{ runner.os }}-${{ github.base_ref || github.ref_name }}-
          purge: true
          purge-prefixes: build-${{ runner.os }}-${{ github.base_ref || github.ref_name }}-
          purge-created: 0
          purge-primary-key: never

      - name: Build NixOS VM
        run: nix build .#vm
